<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <link rel='stylesheet' href='../static/style.css'>
        <script src='../static/client.js'></script>
    </head>
    <body>
        <div>
            <div class='center'>
                <div class='title'>Rafa's Sports Classifier</div>
                <div class='content'>
                    <div>Upload a photo then press analyze to see the models prediction. The model currently recognizes 30 sports: american football, baseball, basketball, boxing, cricket, curling, cycling, diving, field hockey, floorball, football, formula one, golf, ice hockey, judo, kabaddi, lacrosse, mma, moto gp, nascar, rally racing, rugby, snooker, sport climbing, squash, sumo, swimming, track and field, volleyball, and wrestling.</div>
                    <div class='no-display'>
                        <input id='file-input'
                            class='no-display'
                            type='file'
                            name='file'
                            accept='image/*'
                            onchange='showPicked(this)'>
                    </div>
                    <button class='choose-file-button' type='button' onclick='showPicker()'>Select Image</button>
                    <div class='upload-label'>
                        <label id='upload-label'>No file chosen</label>
                    </div>
                    <div>
                        <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
                    </div>
                    <div class='analyze'>
                        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyze</button>
                    </div>
                    <div class='result-label'>
                        <label id='result-label'></label>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
